.header-noticia {
    background-color: $grisOscuro;
    text-align: center;
    padding: 2rem;

    a {
        color: $blanco;
        text-decoration: none;
    }

    h1 {
        padding: 0;
        margin: 0;
        font-size: 6rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        
        span {
            color: $azulClaro;
        }
    }
}

.principal {

    .titulo-noticia {
        text-align: center;

    }
    img {
        width: 80%;
        height:55rem;
    }
    
    .contenido-noticia {
        width: 80%;
        text-align: justify;
        line-height: 1.8;
    }

    .contenido-meta {
        @include grid(3, 1rem);
        width: 78%;

        p {
            margin-bottom: 0;
            font-size: 1.5rem;
            font-family: monospace;
            color: $azul;
        }

        .fecha {
            text-align: right;
        }
        
        .origen {
            text-align: center;
        }
    }
}

.linea {
    width: 85%;
    border-bottom: 0.1rem solid $azulClaro;
}