
.contenedor-barra-buscar {

    margin: 6rem 0 1rem 0;
    width: 100%;

    .barra-buscar {
        display: flex;
        align-items: center;
        width: 70%;
        height: 5rem;
        border: 0.2rem solid $azul;
        border-radius: 3rem;
        margin: 0.1rem auto;
        padding: 0 2rem;

        &:hover {
            border-color: $azulClaro;
        }
          
        &:focus-within {
            border-color: $azulClaro;
        }
    }

    .texto-buscar {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 0.5rem 0.1rem;
        border-radius: 3rem;

        color: $azulClaro;
        font-size: 2rem;
        font-weight: $delgada;

        &::-webkit-input-placeholder {
            color: $azul;
            font-size: 2rem;
            padding: 0;
            margin: 0;
            font-weight: $delgada;
        }
    }

    .boton-buscar {
        background-color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
        width: 3rem;
        height: 100%;
        border-radius: 3rem;
    }
}