.contenedor {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-noticia {
    display: flex;
    margin: 1.5rem 0 0 0;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    width: 70%;
    transition: transform 0.5s;
    text-decoration: none;
    line-height: 1.15;

    &:hover {
        transform: scale(1.01);
    }

    .titulo-noticia {
        color: $negro;
        font-size: 2.5rem;
        margin: 0;
    }
    
    .categoria {
        color: $azulClaro;
        font-weight: $bold;
        font-family: monospace;
    }

    .fecha-noticia {
        text-align: end;
        margin-right: 1rem;
        color: $gris;
        font-size: 1.5rem;
    }

    img {
        width: 50%;
        height: auto;
    }

    .info-noticia {
        width: 50%;
        height: auto;
        padding: 2rem;
    }
}